.vscode
.mypy_cache
docker-stack.yml
# Frontend
frontend/node_modules
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env*.local
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
# Backend
*.pyc
backend/**/__pycache__
backend/*__pycache__*
# Database
database/app/*
# Docs
docs/.obsidian/*
!docs/.obsidian/app.json
!docs/.obsidian/core-plugins.json
!docs/.obsidian/core-plugins-migration.json