@use "../variables.module";
@use "categorySelector.module";


.categoryItem {
    background-color: variables.$section_color;
    margin: 0.5rem;
    padding: 0.5rem;
}
.subCategorySection {
    background-color: variables.$subsection_color;
    margin: 0.25rem;
    padding: 0.25rem;
    color: #000;
}
.titleInput {
    width: categorySelector.$max_category_size;
}